body {
  background-image:url(http://www.michelacosta.com/utilidades/texturas/14.png);
  background-repeat:repeat;
  width:100%;
  height:100%;
}

.gradiente {
	position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(to bottom, #FFF, #588C7E);
  z-index:-3;
  opacity:0.6;
}

#menu, body {
  margin:0;
  padding:0;
}

li > span {
  font-family: monospace;
  font-size: 1.7vw;
}

.placeholder {
  width:100%;
  height:auto;
}

#menu > li {
  float:left;
  list-style:none;
  width:20%;
  text-align:center;
  margin:0px;
  font-family:'Lobster',cursive;
  padding:0;
  cursor:default;
  box-shadow:inset 0 0 1px #333;
  z-index:0;
}

#menu > li > p {
  font-size:2.3vw;
  color:#fff;
}

.contenido > h1 {
	margin:2% 0 3% 3%;
  padding:0;
  font-weight:lighter;
  font-size:3.8vw;
  color:#fff;
  text-shadow:0px 0px 6px #444;
}

li {
  margin:15px 0;
}

.col50 {
  float:left;
  width:40%;
  padding:0 5%;
}

.fake-progress-bar {
  width:100%;
  box-shadow:inset 0 0 2px #A95810;
  border-radius:10px;
}

.fake-progress-bar > div {
  background-color:#D96459;
  border-radius:10px;
}

.concept {
	font-size:1.8vw;
  float:left;
  padding:5px;
}

.value {
	font-size:1.8vw;
  float:right;
  padding:5px;
}

.contenido > ul {
  margin-left:10%;
}

.contenido li {
	font-family:'Raleway',sans-serif;
  font-size:2.2vw;
  padding:0 20px 0 0;
  color:#fff;
  text-shadow:0px 0px 6px #000;
}

a {
  color: #fff;
  transition:all 0.3s ease-out;
}

a:hover {
  color:#EDDA6D;
  transition:all 0.3s ease-out;
}

#menu > li .contenido {
	width:100%;
  height:0px;
  position:absolute;
  overflow:hidden;
  left:0px;
  top:0;
  text-align:justify;
  padding:0px;
  z-index:-2;
  transition:height 0.8s ease-in;
}

#menu > li:hover {
  box-shadow:none;
}

#menu > li:hover .contenido {
  height:100%;
  z-index:-1;
  transition:height 0.8s ease-out;
}

.reset {
  clear:both;
}

input[type=text], input[type=email], textarea {
  display:block;
  width:80%;
  margin-left:10%;
  padding:10px;
  margin-bottom:15px;
  border-radius:5px;
  border:0;
  box-shadow: inset 0 0 2px #444;
  font-family:'Raleway', sans-serif;
  font-size:1.5vw;
}

input[type=submit] {
	position:relative;
  display:block-inline;
  padding:10px;
  width:20%;
  left:50%;
  border-radius:5px;
  border:0;
  font-family:'Raleway', sans-serif;
  font-size:1.5vw;
  margin-left:-10%;
  background-color:#3F1F1F;
  color:#fff;
  cursor:pointer;
}

input[type=submit]:hover {
	background-color:#2F0F0F;
}

textarea{
  resize: none;
}

/* Colores */

#li1 {
  background:linear-gradient(to bottom, #263C36, #588C7E);
}

#li1 .contenido {
	background-color: #588C7E;
}

#li1 p {
  color:#C8DDD8;
}

#li2 {
  background:linear-gradient(to bottom, #8C7A11, #EDDA6D);
}

#li2 .contenido  {
  background-color:#EDDA6D;
}

#li2 p {
  color:#FFF;
}

#li3 {
  background:linear-gradient(to bottom, #A95810, #F2AE72);
}

#li3 .contenido {
  background-color:#F2AE72;
}

#li3 p {
  color:#FCE6D1;
}

#li4 {
  background:linear-gradient(to bottom, #8E2820, #D96459);
}

#li4 .contenido {
  background-color:#D96459;
}

#li4 p {
  color:#F4D3D0;
}

#li5 {
  background:linear-gradient(to bottom, #3F1F1F, #8C4646);
}

#li5 .contenido {
  background-color:#8C4646;
}

#li5 p {
  color:#E1C4C4;
}

/* Medidas de las fake-progress-bars */

.bar90 {
  width:90%;
}

.bar80 {
  width:80%;
}

.bar70 {
  width:70%;
}

.bar50 {
  width:50%;
}

.bar40 {
  width:40%;
}

/* Portafolio 3D */

#espacio {
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

#hexa, #hexa .cara{
  width: 400px;
  height: 300px;
}

.cara {
  cursor:pointer;
}

#hexa {
  transform-style: preserve-3d;
  transform-origin: 50% 50% -300px;
  animation: girar 20s infinite linear running;
  margin: 60px auto;
}

#hexa:hover {
  animation-play-state: paused;
}

#hexa .cara {
  position: absolute;
  border: 0;
  opacity: 1;
  box-shadow:0 0 10px #000;
}

/* Montesano */
#hexa .cara:nth-child(1) {
  background-image:url(http://www.michelacosta.com/proyectos/400x300/montesano.jpg);
  background-size:cover;
}

/* Canarias En Forma */
#hexa .cara:nth-child(2) {
  background-image:url(http://www.michelacosta.com/proyectos/400x300/cef.jpg);
  transform-origin: 100% 0%;
  transform: translateX(-407px) rotateY(-60deg);
}

/* Buenavista Golf */
#hexa .cara:nth-child(3) {
  background-image:url(http://www.michelacosta.com/proyectos/400x300/buenavista.jpg);
  transform-origin: 0% 0%;
  transform: translateX(407px) rotateY(60deg);
}

/* Los Compadres */
#hexa .cara:nth-child(4) {
  background-image:url(http://www.michelacosta.com/proyectos/400x300/compadres.jpg);
  transform: translateZ(-700px) rotateY(180deg);
}

/* La Cuadra de San Diego */
#hexa .cara:nth-child(5) {
  background-image:url(http://www.michelacosta.com/proyectos/400x300/cuadra.jpg);
  transform-origin: 100% 0%;
  transform: translateZ(-700px) translateX(-400px) rotateY(240deg) translateX(405px);
}

/* Mare Naturadventures */
#hexa .cara:nth-child(6) {
  background-image:url(http://www.michelacosta.com/proyectos/400x300/mare.jpg);
  transform-origin: 0% 0%;  transform: translateZ(-700px)  translateX(400px) rotateY(120deg) translateX(-405px);
}

@keyframes girar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.cara > div {
  position:absolute;
  bottom:-50px;
  width:100%;
  text-align:center;
  font-size:2.2vw;
  text-shadow:0px 0px 6px #444;
  font-family:'Raleway',sans-serif;
}

.cara a:hover {
  color:#588C7E;
  text-shadow:none;
  transition:all 0.3s ease-out;
}

/* Tablet */
@media screen and (max-width:1024px) {
  #menu>li>p>span {
    display:none;
  }
  #menu>li>p {
    font-size:5vw;
  }
  .contenido h1 {
    padding-top:5vw;
  }
}

@media screen and (max-width:640px) {
  .contenido h1 {
    font-size:6vw;
  }
  .fa-ul li span {
    display:block;
    font-size:2.5vw;
  }
  .fa-ul li {
    font-size:3.5vw;
    text-align:left;
  }
  .col50 {
    float:none;
    width:90%;
  }
  .contenido {
    overflow:auto!important;
  }
  input[type="text"], input[type="email"], textarea {
    width:80%;
    font-size:3vw;
  }
  input[type="submit"] {
    font-size:3vw;
  }
  .concept, .value {
    font-size:3vw;
  }

  #hexa {
    width: 100%;
  }

  .cara {
    position:relative!important;
    display:block!important;
    transform:none!important;
    margin:auto;
    width:90vw!important;
    height:75vw!important;
    max-width:400px!important;
    max-height:300px!important;
    background-size:100%!important;
    background-repeat:no-repeat;
    box-shadow:none!important;
  }

  .cara > div {
    display:none;
  }

  #hexa {
    animation: none;
  }
}
